apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinel-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "sentinel_user"
        - name: POSTGRES_PASSWORD
          value: "supersecretpassword"
        - name: POSTGRES_DB
          value: "sentinel"
---
apiVersion: v1
kind: Service
metadata:
  name: sentinel-db
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
